body{
    margin: 0;
}
#mainContainer{
    width: 100vw;
    height: 100vh;
    background-color: bisque;

}
#headerContainer{
    width: 100%;
    height: 20%;
    background-color: royalblue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
}
.headerItem{
    
    width: 90%;
    height: 90%;
    display: grid;
    justify-items: center;
    align-items: center;
}
#logo{
    width: 100px;
    height: 100px;
    background-color: rgb(243, 233, 92);
    border-radius: 50px;
}
.logoImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#titleContainer{
    color: cornsilk;
}
.subContainer{
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    height: 80%;
    background-color: rgb(225, 233, 119);
}
#sideNavContainer{
    width: 100%;
    height: 100%;
    background-color: rgb(124, 216, 144);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}
.menuItem{
    width: 90%;
    height: 80%;
    background-color: rgb(95, 51, 197);
    align-items: center;
    justify-items: center;
    font-size: 200%;
    display: grid;
    color: cornsilk;
}
#contentContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}
.productContainer{
    width: 200px;
    height: 300px; 
    margin-top: 10px;
    background-color: rgb(224, 69, 108);
    margin-left: auto;
    margin-right: auto;
}


